@model ProductsListViewModel
@foreach (var p in Model.Products)
{
    @*<div>
            <h3>@p.Name</h3>
            @p.Description
            <h4>@p.Price.ToString("c")</h4>
        </div>*@
    @Html.Partial("ProductSummary", p)
}
@*<div page-model="@Model.PagingInfo" page-action="List"></div>*@
@*<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>*@
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" 
         class="btn-group pull-right m-1">
</div>
